<div>
	<h2>Module.</h2>
	<p>A module is a collection of services, directives, controllers, filters, and configuration information.</p>
	<h4>How to create a module</h4>
	<p>To create Angular module we need to use module() method.</p>
	<figure>
		<pre class="line-numbers padding-left">
			<code class="language-javascript">
var myApp = angular.module('myModule', []);</code>
		</pre>
	</figure>
	<p>The angular.module comes from the framework.<br></p>
	<p>The first parameter in module() specifies the name for the module we are creating.<br></p>
	<p>The second parameter is an array with all dependencies our module requires.<br></p>
	<p>If tere are no dependencies the array stays empty.</p>
	
	<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">CODE EXAMPLE</button>
  <div id="demo" class="collapse">
    <figure>
		  <pre class="line-numbers">
		    <code class="language-javascript">
		     var myApp = angular
								.module('myApp', ['ui.router'])
								.config(function ($stateProvider, $urlRouterProvider) {
									$stateProvider
										.state('home', {
											url: '/home',
											templateUrl: 'templates/home.html',
											controller: 'homeController',
											//abstract: true
										})
										.state('home.nested', {
											url: '/nested',
											templateUrl: 'templates/nested.html',
											controller: 'nestedController'
										})

										//$urlRouterProvider.otherwise('/home');
								})
								})
		    </code>
		  </pre>
		</figure>
  </div>
	<div class="line"></div>
</div>

